<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="propoid.test"
	android:versionCode="1"
	android:versionName="1.0">
	
	<uses-sdk android:minSdkVersion="7" />
	
	<instrumentation
		android:targetPackage="propoid.test"
		android:name="android.test.InstrumentationTestRunner" />

	<application>
		<uses-library android:name="android.test.runner" />
		
	    <activity android:name=".ui.TestActivity" />
	    
	    <service android:name="propoid.test.db.service.TestRepositoryService" />
	    
	    <service android:name="propoid.test.util.FooService" />
	</application>
</manifest>